body {
    padding-top: 40px;
}

.starter-template {
    padding: 10px 15px;
    text-align: center;
}

#mapid {
    height: 380px;
    width: 65%;
    float: right;
}

#search {
    height: 380px;
    width: 34%;
    float: left;
    position: relative;
}

.search-row {
    margin-bottom: 5px;
}

.search-row > label {
    float: left;
    margin-right: 10px;
    width: 100px;
    text-align: left;
}

.submit-row {
    position: absolute;
    bottom: 0;
    text-align: center;
}
