body {
    padding-top: 40px;
}

.starter-template {
    padding: 10px 0px;
    text-align: center;
}

#mapid {
    height: 380px;
    width: 65%;
    float: right;
    border-right: 1px solid #AAA;
    border-left: 1px solid #AAA;
}

.tab-content {
    height: 380px;
    width: 34%;
    float: left;
    position: relative;
}

.search-row {
    margin-bottom: 5px;
}

.search-row > label {
    float: left;
    margin-right: 10px;
    width: 100px;
    text-align: left;
}

.submit-row {
    text-align: center;
}

#featureCode-div {
    display: none;
}

#admin1Code-div {
    display: none;
}

#admin2Code-div {
    display: none;
}

#extract-text {
    margin-bottom: 12px;
}

thead {
    background-color: #CCC;
    color: black;
}

#results {
    height: 300px;
    border-top: 2px solid #AAA;
    width: 100%;
    overflow-y: scroll;
}

#results-header {

}
#enrich-text {
    height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
}

.NNP {
    background-color: #AFEEEE;
}

#processed {
    display: none;
}

.highlight {
    cursor: pointer;
    background-color: yellow;
}

.highlight-selected {
    cursor: pointer;
    background-color: #FF7878;
}
